*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #746bf3;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container {
    margin-top: 5%;
    width: 30rem;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 2rem;
    max-width: 100%;
    height: 44vw;
}

.header h2 {
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
}

.form-control {
    border: none;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    position: relative;
    height: auto;
    width: 100%;
}

.form-control label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-size: 15pt;
}

.form-control input {
    border: 2px solid #3d3a3c62;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.form-control.success input {
    border-color: #1cdb6c;
}

.form-control.error input {
    border-color: #c93322;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 3.7rem;
    right: 1.5rem;
}

.form-control.success i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 1rem;
}

.form-control.error small {
    visibility: visible;
    color: #e74c3c;

}

.form button {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: #7688f0;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    display: block;
    width: 100%;
}


button {
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    background-color: #6e70e7;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    display: block;
    height: 3rem;
}

.remove {
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: red;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    display: block;
    height: 3rem;
    width: 6.5rem;
}

.changeandremove {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.usersinput {
    margin-top: 3rem;
}

.userbox {
    padding: 1rem;
    border-bottom: 2px solid #ffffff;
}

