*{
    box-sizing: border-box;
}

body {
    background-color: #3e67ee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
    width: 1000px;
    max-width: 100%;
    padding: 2rem;


}